.flaticon-arrow-pointing-to-right:before { content: "\f100"; }
.flaticon-pushpin:before { content: "\f101"; }
.flaticon-circle:before { content: "\f102"; }
.flaticon-button:before { content: "\f103"; }
.flaticon-blank:before { content: "\f104"; }
.flaticon-checked:before { content: "\f105"; }
.flaticon-go-back-left-arrow:before { content: "\f106"; }
.flaticon-right-arrow:before { content: "\f107"; }
.flaticon-location:before { content: "\f108"; }
.flaticon-zigzag:before { content: "\f109"; }
.flaticon-light:before { content: "\f10a"; }
.flaticon-comment:before { content: "\f10b"; }
.flaticon-book:before { content: "\f10c"; }
.flaticon-list-view:before { content: "\f10d"; }
.flaticon-question-2:before { content: "\f10e"; }
.flaticon-pencil:before { content: "\f10f"; }
.flaticon-check:before { content: "\f110"; }
.flaticon-eye-outline:before { content: "\f111"; }
.flaticon-shield-plus:before { content: "\f112"; }
.flaticon-search:before { content: "\f113"; }
.flaticon-camera-outline:before { content: "\f114"; }
.flaticon-interface:before { content: "\f115"; }
.flaticon-bicycle:before { content: "\f116"; }
.flaticon-list:before { content: "\f117"; }
.flaticon-cook:before { content: "\f118"; }
.flaticon-building:before { content: "\f119"; }
.flaticon-like:before { content: "\f11a"; }
.flaticon-block-eye:before { content: "\f11b"; }
.flaticon-car:before { content: "\f11c"; }
.flaticon-hand-shake:before { content: "\f11d"; }
.flaticon-suitcase:before { content: "\f11e"; }
.flaticon-list-gird:before { content: "\f11f"; }
.flaticon-flight:before { content: "\f120"; }
.flaticon-voucher:before { content: "\f121"; }
.flaticon-speaker-2:before { content: "\f122"; }
.flaticon-question:before { content: "\f123"; }
.flaticon-marketing:before { content: "\f124"; }
.flaticon-circle-plus:before { content: "\f125"; }
.flaticon-edit:before { content: "\f126"; }
.flaticon-baby:before { content: "\f127"; }
.flaticon-listing-view:before { content: "\f128"; }
.flaticon-camera:before { content: "\f129"; }
.flaticon-fire:before { content: "\f12a"; }
.flaticon-screen:before { content: "\f12b"; }
.flaticon-tool:before { content: "\f12c"; }
.flaticon-list-2:before { content: "\f12d"; }
.flaticon-double-arrow-down:before { content: "\f12e"; }
.flaticon-twitter:before { content: "\f12f"; }
.flaticon-discount-tag:before { content: "\f130"; }
.flaticon-cell-phone:before { content: "\f131"; }
.flaticon-store:before { content: "\f132"; }
.flaticon-facebook:before { content: "\f133"; }
.flaticon-cart:before { content: "\f134"; }
.flaticon-global-travel:before { content: "\f135"; }
.flaticon-world-location:before { content: "\f136"; }
.flaticon-global:before { content: "\f137"; }
.flaticon-ggplus:before { content: "\f138"; }
.flaticon-clock-circular-outline:before { content: "\f139"; }
.flaticon-laptop:before { content: "\f13a"; }
.flaticon-chair:before { content: "\f13b"; }
.flaticon-gift:before { content: "\f13c"; }
.flaticon-mini-arrow-down:before { content: "\f13d"; }
.flaticon-user-plus:before { content: "\f13e"; }
.flaticon-cloud-upload:before { content: "\f13f"; }
.flaticon-call:before { content: "\f140"; }
.flaticon-three-dots:before { content: "\f141"; }
.flaticon-lipstick:before { content: "\f142"; }
.flaticon-check-form:before { content: "\f143"; }
.flaticon-shield-check:before { content: "\f144"; }
.flaticon-cup:before { content: "\f145"; }
.flaticon-arrow-down:before { content: "\f146"; }
.flaticon-arrow-up:before { content: "\f147"; }
.flaticon-user:before { content: "\f148"; }
.flaticon-like-outline:before { content: "\f149"; }
.flaticon-shirt:before { content: "\f14a"; }
.flaticon-wallet:before { content: "\f14b"; }
.flaticon-mail:before { content: "\f14c"; }
.flaticon-diamond:before { content: "\f14d"; }
.flaticon-clock:before { content: "\f14e"; }
.flaticon-calendar:before { content: "\f14f"; }
.flaticon-star:before { content: "\f150"; }
.flaticon-console:before { content: "\f151"; }
.flaticon-call-answer:before { content: "\f152"; }
.flaticon-wrench:before { content: "\f153"; }
.flaticon-family:before { content: "\f154"; }
.flaticon-medicine:before { content: "\f155"; }
.flaticon-makeup:before { content: "\f156"; }
.flaticon-tshirt:before { content: "\f157"; }
.flaticon-television:before { content: "\f158"; }
.flaticon-computer-screen:before { content: "\f159"; }
.flaticon-oto:before { content: "\f15a"; }
.flaticon-apple:before { content: "\f15b"; }
.flaticon-video-camera:before { content: "\f15c"; }
.flaticon-house:before { content: "\f15d"; }
.flaticon-question-tv:before { content: "\f15e"; }
.flaticon-down-arrow:before { content: "\f15f"; }
.flaticon-right-arrow-tv:before { content: "\f160"; }
.flaticon-left-arrow:before { content: "\f161"; }
.flaticon-price-tag:before { content: "\f162"; }
.flaticon-star-1:before { content: "\f163"; }
.flaticon-clock-tv:before { content: "\f164"; }